# --------------------------
# Python / Streamlit Project Git Ignore
# --------------------------

# Virtual environments
.venv/
venv/
env/
ENV/
*.env

# Streamlit secrets
.streamlit/secrets.toml
match1.Py
match2.Py
game.py
